@font-face {
  font-family: "Exo";
  src: url(../fonts/Exo-VariableFont_wght.ttf);
}
body {
  font-family: "Exo";
}
html {
  scroll-padding-top: 60px;
}
::selection {
  background-color: #a684ff;
  color: #ffffff;
}
.logo-nav {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #1d293d;
}
.my-nav {
  padding: 11px 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px;
}
.nav-link {
  margin-right: 32px;
  position: relative;
  transition: all 0.3s;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #314158;
}
.nav-link::after {
  content: "";
  background: linear-gradient(90deg, rgb(124, 58, 237), rgb(139, 92, 246));
  height: 2px;
  width: 0%;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: all 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #7c3aed;
}
.nav-link:hover::after {
  width: 100%;
}
.navbar-nav .nav-link.active::after {
  width: 100%;
}

.navbar-nav .nav-link.active {
  font-weight: 600;
  color: #7c3aed;
}
.container-fluid {
  padding: 0 24px;
}
.w-55 {
  width: 760.4px;
}
.drop {
  margin-right: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #314158;
  white-space: nowrap;
  transition: all 0.3s;
  border: 0;
  background-color: white;
}
.drop:focus {
  color: #7c3aed;
  font-weight: 600;
  border-bottom: 3px solid #7c3aed;
}
.drop::after {
  content: "";
  background: linear-gradient(90deg, rgb(124, 58, 237), rgb(139, 92, 246));
  height: 2px;
  width: 0%;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: all 0.3s;
}
.drop:hover::after {
  width: 100%;
}
.drop:hover {
  color: #7c3aed;
}
.dropdown-toggle::after {
  display: none;
}
.home {
  background-image:
    linear-gradient(to right, rgba(77, 23, 154, 0.8), rgba(89, 22, 139, 0.8)),
    url(../images/imgi_59_4a713135fa-60a8ac99fc66b07ce395.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.pt {
  padding-top: 60px;
}
.head-h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
  color: white;
}
.head-p {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  color: #e5e7eb;
}

.icon {
  left: 14px;
  top: 44px;
}
::placeholder {
  color: #99a1af;
}
.inp {
  padding: 12px 10px 12px 48px;
  width: 100%;
  border: 0.8px solid #d1d5dc;
}
.selec {
  width: 100%;
  border: 0.8px solid #d1d5dc;
  padding: 12px 16px;
  cursor: pointer;
  appearance: none;
}

.foc:focus {
  outline-color: #8e51ff;
  outline-width: 3px;
  outline-offset: 2px;
  border-color: #8e51ff;
  outline-style: solid;
}

.head-btn {
  border: 0;
  background: linear-gradient(
    to right,
    oklch(0.541 0.281 293.009) 0%,
    oklch(0.558 0.288 302.321) 100%
  );
  color: white;
  transition: all 0.1s;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.head-btn:hover {
  background: linear-gradient(
    to right,
    oklch(0.541 0.281 293.009) 0%,
    oklch(0.491 0.27 292.581) 50%,
    oklch(0.558 0.288 302.321) 100%
  );
}
.wid {
  width: 847.08px;
}
.lab {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #364153;
}
.number {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: white;
  margin: 0;
}
.below-num {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ddd6ff;
  margin: 0;
}
.mt-6 {
  margin-top: 48px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mt-12 {
  margin-top: 12px;
}
.mb-64 {
  margin-bottom: 64px;
}
.ms-12 {
  margin-left: 12px;
}
.mb-7 {
  margin-bottom: 32px;
}
.mb-8 {
  margin-bottom: 30px;
}

.mb-12 {
  margin-bottom: 12px;
}
.p-40 {
  padding: 40px;
}
.p-32 {
  padding: 32px;
}
.p-12 {
  padding: 12px;
}
.dropdown-menu[data-bs-popper] {
  right: 0;
  left: 200px;
  width: 80%;
  top: 70px;
  border: 0;
}
svg {
  width: 18px;
}
.drop-h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #101828;
}
.drop-1p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #101828;
}
.drop-2p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6a7282;
}

.drop-hover {
  transition: all 0.2s;
  cursor: pointer;
}
.drop-hover:hover {
  background-color: #f8fafa;
}
.gar-p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #99a1af;
  transition: all 0.1s;
  cursor: pointer;
  width: fit-content;
}

.gar-p:hover {
  color: #7f22fe;
}

.drop-img {
  background-image:
    linear-gradient(
      to right,
      oklab(0.38 0.0761041 -0.173 / 0.6) 0%,
      oklab(0.381 0.100917 -0.144194 / 0.6) 100%
    ),
    url(../images/imgi_56_photo-1522083165195-3424ed129620.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 12px;
  cursor: pointer;
}
.drop-img:hover {
  background-image:
    linear-gradient(to right, rgba(77, 23, 154, 0.2), rgba(89, 22, 139, 0.2)),
    url(../images/imgi_56_photo-1522083165195-3424ed129620.jpg);
}
.new {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
}
.new-num {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #ddd6ff;
}
.drop-img2 {
  background-image:
    linear-gradient(
      to right,
      oklab(0.38 0.0761041 -0.173 / 0.6) 0%,
      oklab(0.381 0.100917 -0.144194 / 0.6) 100%
    ),
    url(../images/imgi_57_photo-1501594907352-04cda38ebc29.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 12px;
  cursor: pointer;
}
.drop-img2:hover {
  background-image:
    linear-gradient(to right, rgba(77, 23, 154, 0.2), rgba(89, 22, 139, 0.2)),
    url(../images/imgi_57_photo-1501594907352-04cda38ebc29.jpg);
}
.drop-img3 {
  background-image:
    linear-gradient(
      to right,
      oklab(0.38 0.0761041 -0.173 / 0.6) 0%,
      oklab(0.381 0.100917 -0.144194 / 0.6) 100%
    ),
    url(../images/imgi_58_photo-1537996194471-e657df975ab4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.drop-img3:hover {
  background-image:
    linear-gradient(to right, rgba(77, 23, 154, 0.2), rgba(89, 22, 139, 0.2)),
    url(../images/imgi_58_photo-1537996194471-e657df975ab4.jpg);
}

.dimen {
  width: 40px;
  height: 40px;
  background-color: #ede9fe;
}

.img-width {
  width: 64px;
  height: 64px;
}
.drop-card-p {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #101828;
}
.drop-card-p2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4a5565;
}
.drop-card-p3 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #7f22fe;
}
.p-20 {
  padding: 20px;
  border: 1px solid #ede9fe;
  transition: all 0.2s;
  cursor: pointer;
}
.empty {
  background-color: #f8f7ff;
  width: 128px;
  height: 128px;
  position: absolute;
  right: -60px;
  top: -60px;
  transition: all 0.4s;
  z-index: -1;
}
.p-20:hover .drop-card-p {
  color: #7f22fe;
}
.p-20:hover {
  border-color: #e0d9ff;
}
.p-20:hover .empty {
  background-color: #d8d0ffbd;
}
.p-20:hover .arrow-right {
  left: 10px;
}

.arrow-right {
  position: relative;
  left: 0;
  transition: all 0.2s;
}
.dimen-2 {
  width: 40px;
  height: 40px;
  background-color: #dbfce7;
}
.p-21 {
  padding: 20px;
  border: 1px solid #dbfce7;
  transition: all 0.2s;
  cursor: pointer;
}
.empty-2 {
  background-color: #f2fef6;
  width: 128px;
  height: 128px;
  position: absolute;
  right: -60px;
  top: -60px;
  transition: all 0.4s;
  z-index: -1;
}
.p-21:hover .drop-card-p {
  color: #00a63e;
}
.p-21:hover {
  border-color: #b9fed3;
}
.p-21:hover .empty-2 {
  background-color: #d1ffe3;
}
.p-21:hover .arrow-right {
  left: 10px;
}
.p-22 {
  padding: 20px;
  border: 1px solid #f3e8ff;
  transition: all 0.2s;
  cursor: pointer;
}
.empty-3 {
  background-color: #fbf6ff;
  width: 128px;
  height: 128px;
  position: absolute;
  right: -60px;
  top: -60px;
  transition: all 0.4s;
  z-index: -1;
}
.dimen-3 {
  width: 40px;
  height: 40px;
  background-color: #f3e8ff;
}
.p-22:hover .drop-card-p {
  color: #9810fa;
}
.p-22:hover {
  border-color: #e3c8ff;
}
.p-22:hover .empty-3 {
  background-color: #efdcff;
}
.p-22:hover .arrow-right {
  left: 10px;
}

.Featured-Properties {
  padding: 80px 0;
  background-color: #f9fafb;
}
.prem-span {
  padding: 8px 22px;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  color: #7008e7;
  background-color: #faf5ff;
  border: 2px solid #ddd6ff;
  width: fit-content;
}

.prem-span::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    oklch(0.606 0.25 292.717) 50%,
    oklch(0.541 0.281 293.009) 100%
  );
  right: -95px;
  top: 50%;
  transform: translateY(-50%);
}
.prem-span::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    oklch(0.606 0.25 292.717) 50%,
    oklch(0.541 0.281 293.009) 100%
  );
  left: -95px;
  top: 50%;
  transform: translateY(-50%);
}

.prem-h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
  background-clip: text;
  color: transparent;
  background-position: right;
  background-size: cover;
  background-image: linear-gradient(
    to right,
    oklch(0.541 0.281 293.009) 0%,
    oklch(0.558 0.288 302.321) 50%,
    oklch(0.769 0.188 70.08) 90%
  );
}

.prem-p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #4a5565;
}
.card-span {
  font-size: 30px;
  font-weight: 700;
  color: #7f22fe;
  line-height: 36px;
}
.card-span-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6a7282;
}
.card-p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #4a5565;
  margin-bottom: 12px;
}
.card-p-2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #1e2939;
  margin-bottom: 8px;
}
.card-p-3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4a5565;
}
.img-span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4a5565;
}
.img-btn {
  background-color: #ede9fe;
  color: #7f22fe;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  transition: all 0.2s;
}

.img-btn:hover {
  background-color: #ddd6ff;
}
.float-span {
  padding: 4px 12px;
  background-color: #7f22fe;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: white;
  left: 16px;

  top: 16px;
}
.float-span-2 {
  width: 40px;
  height: 30px;
  padding: 15px;
  top: 16px;
  right: 10px;
  background-color: #e7e8e9;
  transform: rotate(90deg);
  cursor: pointer;
}
.float-span-2 i {
  color: #4a5565;
}
.float-span-2:hover i {
  color: #fa2c37;
}

.float-span-3 {
  padding: 4px 12px;
  bottom: 16px;
  left: 16px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: #000000a4;
}
.img-hover {
  transition: all 0.2s;
}

.card:hover .img-hover {
  transform: scale(1.07);
}
.view-btn {
  background: linear-gradient(
    to right,
    oklch(0.541 0.281 293.009) 0%,
    oklch(0.558 0.288 302.321) 100%
  );
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.view-btn i {
  transition: all 0.2s;
  left: 0;
}
.view-btn:hover i {
  left: 10px;
}
.view-btn:hover {
  background: linear-gradient(
    to right,
    oklch(0.541 0.281 293.009) 0%,
    oklch(0.491 0.27 292.581) 50%,
    oklch(0.558 0.288 302.321) 100%
  );
}
.our-services {
  padding: 80px 0;
}
.gridia {
  background-image: linear-gradient(
    to right,
    oklch(0.541 0.281 293.009) 0%,
    oklch(0.558 0.288 302.321) 50%,
    oklch(0.769 0.188 70.08) 80%
  );
}
.tab-btn {
  padding: 16px 24px;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #4a5565;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}
.tab-btn:hover {
  color: #7f22fe;
}
.tab-btn:focus {
  background-color: #f5f3ff;
  color: #7f22fe;
}
.tab-btn:focus::after {
  background-color: #7f22fe;
  bottom: 0;
}
.tab-btn::after {
  content: "";
  position: absolute;
  background-color: #dad4fc;
  bottom: -8px;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.15s;
}

.tab-btn:hover::after {
  bottom: 0px;
}

.tab-h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #101828;
}
.tab-p1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #4a5565;
}
.d-1 {
  padding: 11px;
  background-color: #ede9fe;
  height: fit-content;
}
.tab-h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #101828;
}
.tab-p3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #4a5565;
}
.btn-tab {
  font-size: 16px;
  font-weight: 600;
  color: white;
  line-height: 24px;
  background-color: #7f22fe;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.2s;
}
.w-80 {
  width: 89%;
}
.w-85 {
  width: 97%;
}
.w-98 {
  width: 98.5%;
}
.btn-tab:hover {
  background-color: #7109e7;
}

.img-tab-float {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #7f22fe;
}
.img-tab-float-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4a5565;
}
.floating-tab {
  left: -24px;
  bottom: -24px;
  background-color: white;
}
.btn-tab-get-home {
  font-size: 16px;
  font-weight: 600;
  color: white;
  line-height: 24px;
  background-color: #00a63e;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.2s;
}
.btn-tab-get-home:hover {
  background-color: #008334;
}
.floating-tab-2 {
  right: -24px;
  bottom: -24px;
  background-color: white;
}
.btn-tab-rent {
  font-size: 16px;
  font-weight: 600;
  color: white;
  line-height: 24px;
  background-color: #9810fa;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.2s;
}
.btn-tab-rent:hover {
  background-color: #8300da;
}
.btn-tab-invest {
  font-size: 16px;
  font-weight: 600;
  color: white;
  line-height: 24px;
  background-color: #d08700;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.2s;
}
.btn-tab-invest:hover {
  background-color: #a65f00;
}
.btn-tab-commer {
  font-size: 16px;
  font-weight: 600;
  color: white;
  line-height: 24px;
  background-color: #4f39f6;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.2s;
}
.btn-tab-commer:hover {
  background-color: #432cd6;
}
button.ac.active {
  background-color: #f5f3ff;
  color: #7f22fe;
}
button.ac.active::after {
  content: "";
  position: absolute;
  background-color: #7f22fe;
  bottom: 0px;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.15s;
}
.Testimonials {
  padding: 80px 0 160px 0;
  background-image: linear-gradient(
    to right,
    oklch(0.38 0.189 293.745) 0%,
    oklch(0.381 0.176 304.987) 100%
  );
}
.client-span {
  padding: 8px 22px;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  color: #7008e7;
  background-color: #faf5ff;
  border: 2px solid #ddd6ff;
  width: fit-content;
}
.client-span::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    oklch(0.74 0.238 322.16) 50%,
    oklch(0.769 0.188 70.08) 100%
  );
  right: -95px;
  top: 50%;
  transform: translateY(-50%);
}
.client-span::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    oklch(0.828 0.189 84.429) 50%,
    oklch(0.769 0.188 70.08) 100%
  );
  left: -95px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  width: 50px;
  height: 50px;
  padding: 12px;
  border-radius: 50%;
  background-color: #7245ad;
  color: white;
  transition: all 0.2s;
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}

.carousel-control-prev:hover {
  background-color: rgb(131, 92, 181);
}
.carousel-control-prev:focus {
  background-color: rgb(131, 92, 181);
  color: white;
}
.carousel-control-next {
  width: 50px;
  height: 50px;
  padding: 12px;
  border-radius: 50%;
  background-color: #7245ad;
  color: white;
  transition: all 0.2s;
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}

.carousel-control-next:hover {
  background-color: rgb(131, 92, 181);
}
.carousel-control-next:focus {
  background-color: rgb(131, 92, 181);
  color: white;
}
.slide-span {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #4a5565;
  margin-left: 16px;
}
.slide-p {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  color: #364153;
}
.w-70 {
  width: 72%;
}
.jennifer {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #101828;
}
.baverly {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4a5565;
}
.purchase {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #6a7282;
}
.p-slide {
  padding: 30px;
}

.carousel-indicators {
  bottom: -80px;
  margin-bottom: 0;
}
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #885db4;
  opacity: 1;
  transition: all 0.2s;
}
.carousel-indicators [data-bs-target]:hover {
  background-color: white;
}
button.slide.active {
  background-color: white;
}

.faq {
  padding: 80px 0;
  background-color: #f9fafb;
}

.faq-h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
  background-clip: text;
  color: transparent;
  background-position: right;
  background-size: cover;
  margin-top: 5px;
  background-image: linear-gradient(
    to right,
    oklch(0.541 0.281 293.009) 0%,
    oklch(0.491 0.27 292.581) 50%,
    oklch(0.558 0.288 302.321) 100%
  );
}
.accordion-button {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #101828;
  padding: 24px 32px;
  transition: all 0.2s;
}
.accordion-button:hover {
  background-color: #f2f5f5;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
  background-color: white;
  color: #101828;
}
.accordion-button::after {
  display: none;
}
.fa-angle-down {
  transition: all 0.2s;
}

.accordion-button:not(.collapsed) i {
  transform: rotate(180deg);
}
.accordion-body {
  padding: 1rem 2rem;
}

.w-faq {
  width: 69%;
}
.contact-us {
  padding: 80px 0;
}

.phone-float {
  width: 64px;
  height: 64px;
  transition: all 0.2s;
  background-image: linear-gradient(
    to right bottom,
    oklch(0.606 0.25 292.717) 0%,
    oklch(0.541 0.281 293.009) 100%
  );
}
.call-us {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #101828;
}
.mon-fri {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4a5565;
}
.phone-number {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #7008e7;
}
.get-card {
  border: 2px solid #f3f4f6;
  transition: all 0.2s;
}
.get-card:hover {
  transform: translateY(-3%);
  border-color: #c5b3fe;
}
.get-card:hover .phone-float {
  transform: scale(1.08);
}

.get-card-2 {
  border: 2px solid #f3f4f6;
  transition: all 0.2s;
}
.get-card-2:hover {
  transform: translateY(-3%);
  border-color: #dab2ff;
}
.get-card-2:hover .phone-float {
  transform: scale(1.08);
}

.get-card-3 {
  border: 2px solid #f3f4f6;
  transition: all 0.2s;
}
.get-card-3:hover {
  transform: translateY(-3%);
  border-color: #f3a8ff;
}
.get-card-3:hover .phone-float {
  transform: scale(1.08);
}

.get-card-4 {
  border: 2px solid #f3f4f6;
  transition: all 0.2s;
}
.get-card-4:hover {
  transform: translateY(-3%);
  border-color: #a3b3ff;
}
.get-card-4:hover .phone-float {
  transform: scale(1.08);
}

.co-inf {
  width: 48px;
  height: 48px;
}
.conc-h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #101828;
}
.conc-h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #101828;
}
.conc-p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4a5565;
  margin: 0;
}
.mb-20 {
  margin-bottom: 20px;
}
.h3-conc-bot {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: white;
}

.p-conc-bot {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #ede9fe;
}

.co-logo {
  transition: all 0.2s;
  background-color: #a845fc;
}
.co-logo:hover {
  transform: scale(1.08);
  background-color: #b35bfc;
}
.form-h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #101828;
  margin-bottom: 12px;
}

.form-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4a5565;
}

.inp-form {
  padding: 12px 16px;
  background-color: #f9fafb;
  border: 0.8px solid #e5e7eb;
  font-weight: 400;
  line-height: 24px;
}
.inp-form:focus {
  outline-color: #8e51ff;
  outline-width: 3px;
  outline-offset: 2px;
  border-color: #8e51ff;
  outline-style: solid;
}

.inp-form-label {
  font-size: 14px;
  font-weight: 600;
  color: #364153;
}
.check-inp {
  background-color: #f5f3ff;
}

.me-12 {
  margin-right: 12px;
}
.check-lab {
  color: #364153;
  font-size: 14px;
  line-height: 20px;
}
.check-btn {
  width: 20px;
  height: 30px;
}
input[type="checkbox"] {
  accent-color: #7f22fe;
}
.trans {
  transition: all 0.2s;
}
.trans:hover {
  transform: translateY(-5%);
}
.ppp {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6a7282;
}
.sss {
  border: 2px solid #f3f4f6;
}
.w-65 {
  width: 65.2%;
}
.footer {
  padding: 48px 0;
  background-image: linear-gradient(
    to right,
    oklch(0.38 0.189 293.745) 0%,
    oklch(0.381 0.176 304.987) 100%
  );
}
.span-footer {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: white;
}
.span-footer-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ddd6ff;
}
.co-inf-5 {
  width: 40px;
  height: 40px;
  background-color: #692e99;
  transition: all 0.2s;
}
.co-inf-5:hover {
  transform: scale(1.08);
  background-color: #7f22fe;
}
.the-final {
  border-top: 1px solid #672e9a;
}
.the-end {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #c4b4ff;
}
.empty-conc {
  width: 384px;
  height: 384px;
  border-radius: 50%;
  right: -160px;
  top: -160px;
  position: absolute;
  background-color: #f5f3fe;
}

.empty-conc-in {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 4px solid #ddd6ff;
  bottom: 30px;
  left: 2px;
  border-radius: 50%;
}

.empty-conc-2 {
  width: 384px;
  height: 384px;
  border-radius: 50%;
  left: -160px;
  bottom: -160px;
  position: absolute;
  background-color: #f8f3ff;
}
.empty-conc-in-2 {
  width: 95px;
  height: 95px;
  border: 4px solid #e9d4ff;
  position: absolute;
  border-radius: 50%;

  right: 0px;
  top: 0;
}

.hh {
  height: 344px;
}
